$spacing: 5px;

$color-bgBody: #f3f7fa;
$color-primary: #2196f3;
$color-cyan: #f1fcff;
$color-white: #ffffff;
$color-black: #4a4a4a;
$color-border: #dfe5ec;
$color-gray: #a0b0b9;

$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 24px;

$line-height-sm: 12px;
$line-height-md: 18px;
$line-height-lg: 20px;
$line-height-xl: 24px;

$letter-spacing-md: 0.5px;
