@import '../../styles/variables.scss';

.arrow {
  width: 75px;
  height: 65px;

  margin: 0 auto;
  margin-top: $spacing * 5;

  &:hover {
    cursor: pointer;

    polygon {
      fill: $color-primary;
      transition: all 0.2s ease-out;

      &.bottom {
        transform: translateY(-18px);
      }

      &.top {
        transform: translateY(18px);
      }
    }
  }
}

polygon {
  fill: $color-primary;
  transition: all 0.2s ease-out;

  &.middle {
    opacity: 0.75;
  }

  &.top {
    opacity: 0.5;
  }
}
