@import '../../styles/variables.scss';
@import '../../styles/common.scss';

.tickets {
  padding: $spacing * 4;
  margin-bottom: $spacing * 4;

  @extend .borderBox;

  &:last-child {
    margin-bottom: 0;
  }
}

.header {
  margin-bottom: $spacing * 4;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price {
  font-size: $font-size-lg;
  line-height: $line-height-xl;
  font-style: normal;
  font-weight: 600;

  color: $color-primary;
}

.segment {
  margin-bottom: $spacing * 2;

  display: flex;
  justify-content: space-between;

  &:last-child {
    margin-bottom: 0;
  }
}

.title {
  font-size: $font-size-sm;
  line-height: $line-height-md;
  letter-spacing: $letter-spacing-md;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;

  color: $color-gray;
}
.subTitle {
  font-size: $font-size-md;
  line-height: $line-height-lg;
  font-style: normal;
  font-weight: 600;

  color: $color-black;
}

.animateTickets {
  @extend .tickets;
  animation-duration: 1000ms;
  animation-name: bounceIn;
}

.animate {
  margin-bottom: $spacing * 4;
  &:last-child {
    margin-bottom: 0;
  }
  animation-duration: 700ms;
  animation-name: bounceIn;
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
